.facebook-sponsers
{
  &__sponser
  {
    @include flex(space-between, flex-start);
    margin: rem(10) 0;
    
    img
    {
      max-width: rem(115);
      border-radius: rem(5);
    }
  }
}

.facebook-pages
{
  &__page
  {
    @extend %content-component;
    img
    {
      @include img-rounded(40);
    }
  }
}

.facebook-contacts
{
  &__contact
  {
    @extend %content-component;
    img
    {
      @include img-rounded(40);
    }
  }
}