<nav class="nav">
    <div class="nav__left">        
        <div class="input-box__text">
            <div class="facebook-logo">
                <img src="../assets/images/Facebook-logo.svg" width="40" height="40" alt="">
            </div>

            <label for="search-input">
                <input type="search" placeholder="Search Facebook" id="search-input">
            </label>

        </div>
    </div>


    <div class="nav__middle">
        <div class="facebook-icons">
            <div class="facebook-icons__icon active"><i class="ri-home-fill"></i></div>
            <div class="facebook-icons__icon"><i class="ri-flag-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-movie-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-group-2-line"></i></div>
            <div class="facebook-icons__icon"><i class="ri-microsoft-line"></i></div>
        </div>
    </div>


    <div class="nav__right">

        <div class="facebook-services">
            <div class="user-icon">
                <img src="../assets/images/user-image.png" alt="user image" class="img-rounded">
            </div>

            <div class="facebook-services__service"><i class="ri-grid-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-messenger-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-notification-4-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-arrow-down-s-fill"></i></div>
        </div>

    </div>


</nav>