<div class="wrapper">
    
    <h4>Sponsered</h4>

    <div class="facebook-sponsers">
        <div class="facebook-sponsers__sponser">
            <img src="https://picsum.photos/id/48/500/500" alt="" class="facebook-sponsers__sponser--image">
            <span class="facebook-sponsers__sponser--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aut, totam est voluptas quia fugit tempora quos, ex possimus, officiis reprehenderit error nostrum enim quaerat.</span>
        </div>
        <div class="facebook-sponsers__sponser">
            <img src="https://picsum.photos/id/50/500/500" alt="" class="facebook-sponsers__sponser--image">
            <span class="facebook-sponsers__sponser--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aut, totam est voluptas quia fugit tempora quos, ex possimus, officiis reprehenderit error nostrum enim quaerat.</span>
        </div>
    </div>

    <h4 class="seperator">Your Pages</h4>

    <div class="facebook-pages">
        <div class="facebook-pages__page">
            <img src="https://picsum.photos/id/48/500/500" alt="" class="facebook-pages__page--image">
            <span class="facebook-pages__page--text">Photoshop</span>
        </div>
        <div class="facebook-pages__page">
            <img src="https://picsum.photos/id/50/500/500" alt="" class="facebook-pages__page--image">
            <span class="facebook-pages__page--text">Illestrator</span>
        </div>
        <div class="facebook-pages__page">
            <img src="https://picsum.photos/id/50/500/500" alt="" class="facebook-pages__page--image">
            <span class="facebook-pages__page--text">Indesign</span>
        </div>
    </div>
    <h4 class="seperator">contact</h4>

    <div class="facebook-contacts">
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/48/500/500" alt="" class="facebook-contacts__contact--image">
            <span class="facebook-contacts__contact--text">Name</span>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/50/500/500" alt="" class="facebook-contacts__contact--image">
            <span class="facebook-contacts__contact--text">Name</span>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/50/500/500" alt="" class="facebook-contacts__contact--image">
            <span class="facebook-contacts__contact--text">Name</span>
        </div>
    </div>

</div>