<div class="wrapper">


    <div class="stories">
        <div class="story story-1">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Nour homsi</div>
        </div>
        <div class="story story-2">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Karmin nasser</div>
        </div>
        <div class="story story-3">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Karim Benzima</div>
        </div>
        <div class="story story-4">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Thomas Muller</div>
        </div>
        <div class="story story-5">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Muller Thamos</div>
        </div>
        <div class="story story-6">
            <img src="../assets/images/user-image.png" alt="user image" class="">
            <div class="story__username">Alsyed Mohammed</div>
        </div>
    </div>


    <div class="create-post">
        <div class="input-box__text">
            <img src="/assets/images/user-image.png" alt="" class="create-post__image">
            
            <label for="create-post">
                <input type="text" id="create-post" placeholder="What's on your mind, Ali?">
            </label>
        </div>
        

        <div class="create-post__btns">
            <div class="create-post__btns__btn">
                <i class="ri-video-add-fill"></i>
                <span>Live Video</span>
            </div>

            <div class="create-post__btns__btn">
                <i class="ri-image-line"></i>
                <span>Photo/Video</span>
            </div>

            <div class="create-post__btns__btn">
                <i class="ri-emotion-happy-line"></i>
                <span>Feeling/Activity</span>
            </div>
        </div>

    </div>

    <div class="create-room">

        <div class="create-room__btn">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>

        <div class="create-room__image">
            <img src="/assets/images/user-image.png" alt="">
        </div>

         

    </div>

    <div class="news-feed">

        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="/assets/images/user-image.png" alt="">
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Ali</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <span class="date">2d ago</span>
                </div>
            </div>
            <div class="news-feed__header__options">
                ...
            </div>
        </header>

        <section class="news-feed__feed">
            <p class="news-feed__feed__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, repudiandae? Cum sed quis a omnis amet porro ad hic quisquam. Nesciunt nemo dignissimos eius quibusdam explicabo in minima modi magnam!
            </p>
            <img src="/assets/images/one.png" class="news-feed__feed__image" alt="" width="100%">

        </section>
    
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reactions">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__comments">
                19 Comment
            </div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.png" alt="">
                <label for="create-comment">
                    <input type="text" id="create-comment" placeholder="Comment as ali?">
                </label>
            </div>
        </div>
    
    </div>

    
</div>